// Colors of the project
// ------------------------------------------------
$brand: #2C3E50; // brand color
$secondary: #660936;
$textcolor: #6D92AB; // Primary text color
$gray: #656464; // Gray color
$black: #000000;
$white: #ffffff;
$bodybg: #ECEDF1;
$green: #27ae60;
$darkblue : #1a252f;

// Font sizes of the project
// -------------------------------------------------
$textfont : 15px; // size of text 
$radius:0px; // Border radius thorough out the site 

$enable-transitions:        true !default;

$border-radius: 5px;
$accordion-border-color: #d9d9d9;
$accordion-title-bg: #f6f6f6;
$icon-color: #777;
$active-title-bg: #eeeeee;
$title-bg: #444;