@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "./src/variables"; // Project related variables goes here
@import "./src/mixins"; // Project related mixins goes here

body {
  background-color: #FFF;
  margin: 0;
  padding: 0;
  @include font(book);
  text-decoration: none;

  a {
    text-decoration: none;
    color: $secondary;
  }

  h1, .h1 {
    @include fontsize(24px);
    @Include fontweight(bold);
    color: $brand;
  }

  h2, .h2 {
    @include fontsize(20px);
    @Include fontweight(bold);
    color: $brand;
  }

  h3, .h3 {
    @include fontsize(18px);
    @Include fontweight(bold);
    color: $brand;
  }

  h4, .h4 {
    @include fontsize(16px);
    @Include fontweight(medium);
    color: $brand;
  }

  h5, .h5 {
    @include fontsize(14px);
    @Include fontweight(bold);
    color: $brand;
  }

  h6, .h6 {
    @include fontsize(14px);
    @Include fontweight(medium);
    color: $brand;
  }

  p, .p {
    @include fontsize(14px);
    @Include fontweight(book);
    color: $brand;
  }

}

.App {
  margin: 0;
  padding: 0;
  @include clearfix();
}

.container {
  width: 95vw;
  margin: 0px auto;
  @include clearfix();
}

header {
  background-color: #f1f1f1;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 30px;

  .logo {
    color: #000;
    text-align: left;
    width: 18%;
    display: inline-block;
  }

  .navigation-section {
    width: 80%;
    text-align: right;
    display: inline-block;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
        padding: 0 10px;
        color: $brand;
        font-size: 16px;
      }

    }

  }

}

.App-link {
  color: #61dafb;
}

wrapper {
  background-color: #fff;
  padding: 30px;
  text-align: center;
  color: #000;
  display: block;
  min-height: 60vh;
}

footer {
  background-color: #ccc;
  padding: 30px;
  color: #000;
}


// ================================
// Arabic Style
// ================================

body {
  &.arabic {
    text-align: right;
    direction: rtl;
    float: right;
  }

  header {
    .navigation-section {
      text-align: left;
    }

    .logo {
      text-align: right;
    }

  }

  wrapper {
    text-align: right;
  }

}